.gradient {
  background: linear-gradient(160deg,#228B22,rgba(10,115,0,0.95));
  background-repeat: repeat-y;
  background-size: auto;
  color: #ffffff;
}

.login {
  padding-top: 40px;
  padding-bottom: 10px;
}

html, body {
  margin: 0;
  height: 100%;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.form-control {
  width: 250px;
  font-size: 14px;
  font-weight: bold;
}

p {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.btn-primary {
  color: #fff;
  background-color: #036d20;
  border-color: rgba(140,140,140,0.95);
}

.btn-primary:hover {
  color: #fff;
  background-color: rgb(3,150,32);
  border-color: rgb(255,255,255);
}

.btn-primary.focus, .btn-primary:focus {
  color: #fff;
  background-color: rgb(3,150,32);
  border-color: #ffffff;
  box-shadow: 0 0 0 .2rem rgba(3,109,32,0.5);
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #039620;
  border-color: #ffffff;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(3,109,32,0.5);
}

.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(3,109,32,0.5);
}

