<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Mend App</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/styles.css') }}">
<!-- Custom Imports -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="icon" href="{{ url_for('static',filename='assets/img/favicon.ico') }}">
</head>

<body class="gradient">
	<script>
		function scrollDown() {
			var elem = document.getElementById('log');
			elem.scrollTop = elem.scrollHeight + 5000;
		}
		$(document).ready(function(){
			$("#chat").keypress(function(event) {
				if (event.keyCode === 13) {
					$("#send").click();
				}
			});
			$("#send").click(function() {
				var channel_id = "{{ channel }}";
				var sent_msg = document.getElementById("chat").value;
				if (sent_msg != ''){
					$.post("{{ url_for('send') }}",
					{
						msg: sent_msg,
						channel: channel_id
					},
					function(data){
						scrollDown();
						var log = document.getElementById("log");
						document.getElementById("chat").value = '';
						log.innerHTML = log.innerHTML + sent_msg + "<br>";
					});
				}
			});
		});
	</script>
    <h1 class="text-center"><strong>Welcome to Mend!</strong></h1><br>
    <script src="{{ url_for('static',filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>

    <div class="container">
  		<div id="log" onload="scrollDown()" style="height:500px; width:auto; border:1px solid; font:16px/26px Georgia, Garamond, Serif; overflow:auto;">
			{% for msg in log %}
			    {{ msg }}<br>
			{% endfor %}
  		</div><br>
	</div>
    <input id="chat" class="center" style="height:16;width:250px;" type="text" style="color: black;" name="txt"><button id="send" class="btn btn-primary center">Send</button>
</body>

</html>