<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Mend App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/styles.css') }}">
<!-- Custom Imports -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static',filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="{{ url_for('static',filename='assets/js/cryptico.min.js') }}"></script>
    <link rel="icon" href="{{ url_for('static',filename='assets/img/favicon.ico') }}">
</head>

<body class="gradient">
	<script type="text/javascript">
		function gen_keys() {
			// Encrypt with the public key...
			var PassPhrase = document.getElementById("user").value;
			// The length of the RSA key, in bits.
			var Bits = 1024; 
			var RSAkey = cryptico.generateRSAKey(PassPhrase, Bits);
			var PublicKey = cryptico.publicKeyString(RSAkey);
			document.cookie = "pass=" + PassPhrase;   
			return PublicKey;
		}
		$(document).ready(function(){
			$("#logi").click(function(){
				var key = gen_keys();
				$.post("{{ url_for('login') }}",
				{
					user: document.getElementById("user").value,
					pass: document.getElementById("pass").value,
					pub_key: key
				},
				function(data, status){
					if(data == '0') {
						window.location.href="/home";
					} else {
						alert("Failed to log in!");
					}
				});
			});
			$("#regi").click(function(){
				var key = gen_keys();
				$.post("{{ url_for('register') }}",
				{
					user: document.getElementById("user").value,
					pass: document.getElementById("pass").value,
					pub_key: key
				},
				function(data, status){
					if(data == '0') {
						window.location.href="/home";
					} else {
						alert("Failed to register! User already exists!");
					}
				});
			});
		});
	</script>
    <h1 class="text-center"><strong>Welcome to Mend!</strong></h1>
    <h3 class="text-center">An End to End Secure Messaging System!</h3>
    <section>
        <div style="text-align: center;">
            <p>Username:</p><input class="form-control center" type="text" id="user" maxlength="64" style="color: black;" name="user">
            <p>Password:</p><span><input class="form-control center" type="password" id="pass" style="color: black;" name="pass"><br>
            <button id="logi" class="btn btn-primary">Log In!</button>
			<button id="regi" class="btn btn-primary">Register!</button>
        </div>
    </section>
</body>

</html>